@media (max-width: 1440px) {

  nav{
    width: 60%;
  }

}

@media (max-width: 1024px) {

  nav{
    width: 70%;
  }

}

@media (max-width: 768px) {

  .logo img{
    height: 7.5vh;
  }

  nav{
    width: 80%;
  }

  .perfil{
    font-size: 2rem;
  }

  .menu {
    font-size: 0.7rem;
  }

}