@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  height: 100vh;
  background:
    linear-gradient(to bottom, var(--background-1) 15%, var(--background-2) 50%, var(--background-1) 95%),
    url(../images/background-principal.svg) no-repeat bottom / cover fixed;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-verde-escuro);
}

/* ------------------- HEADER ------------------- */

header{
  height: 20%;
  background: url(../images/background-superior.svg) repeat-x left top / auto 100%;
}

.menu a{
  color: var(--primary-verde-cabelo);
}

.inativo{
  transition: transform 0.5s ease-in-out;
}

.inativo:hover{
  transform: scale(1.2);
}

.ativo a{
  color: var(--primary-verde-escuro);
  background-color: var(--primary-verde-pastel);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0 0.2rem 0.2rem 0 var(--primary-verde-medio);
}

.logo img{
  transition: transform 0.5s ease-in-out;
}

.logo img:hover {
  transform: scale(1.2);
}

.perfil i{
  color: var(--secondary-azul-iara);
  font-size: 3rem;
  transition: transform 0.5s ease-in-out;
}

.perfil i:hover {
  transform: scale(1.2);
}

/* ------------------- FOOTER ------------------- */

.footer{
  background: var(--gradiente-1);
  padding: 2% 2%;
}

.decoracao{
  background: url(../images/background-inferior.svg) repeat-x top center;
  height: 200px;
}

.linha{
  border: 0.1rem solid var(--primary-verde-menta);
  width: 100%;
}

.icones a{
  color: var(--base-0);
  font-size: 2.5rem;
}

.links a{
  color: var(--base-0);
}

.legal {
  color: var(--base-0);
  font-size: 0.8rem;
  width: 50%;
}

.contato {
  color: var(--secondary-bege);
}

.contato a {
  color: var(--primary-verde-cabelo);
}

.icones a:hover,
.links a:hover,
.contato a:hover {
  color: var(--secondary-azul);
}

/* ------------------- BOTOES ------------------- */

.botao {
  background-color: var(--primary-verde-escuro);
  color: var(--base-0);
  padding: 1rem 3rem;
  border-radius: 2rem;
  transition: transform 0.5s ease-in-out;
}

.botao:hover {
  background-color: var(--secondary-azul);
  color: var(--base-0);
  transform: scale(1.2);
}

/* --------------- ACESSIBILIDADE --------------- */

a:focus, button:focus, [role="button"]:focus, [role="menuitem"]:focus {
  outline: 0.2rem solid var(--secondary-azul);
  outline-offset: 0.2rem;  
}

/* -------------------- HOME -------------------- */

.hero{
  background: url(../images/iara-hero.svg) no-repeat bottom center / 100% auto;
  height: 800px;
  display: flex;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  width: 25rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.hero a {
  width: 25rem;
}

article{
  width: 100%;
  padding: 2rem;
}

.conteudo{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conteudo h2{
  font-size: 1.8rem;
}

.destaques{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-destaques {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cards-destaques li {
  width: 10rem;
  height: 15rem;
}

.cards-destaques li a {
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  border: 0.3rem solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.cards-destaques li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-destaques li a:hover{
  border-color: var(--primary-verde-medio);
}

.cards-destaques li a:focus {
  outline: 0.2rem solid var(--secondary-azul);
  outline-offset: 0.2rem;
}

.categorias{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-categorias {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.cards-categorias li {
  background-color: var(--primary-verde-menta);
  color: var(--primary-verde-cabelo);
  padding: 1rem 3rem;
  border: 0.5vh solid transparent;
  border-radius: 2rem;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.cards-categorias li:hover {
  border-color: var(--primary-verde-medio);
}

.sobre{
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-iara{
  border-radius: 1rem;
  width: 15rem;
  height: 15rem;
}

.sobre .bio{
  display: flex;
  justify-content: left;
  align-items: top;
  gap: 1rem;
}

.texto-botao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* -------------------- LOJA -------------------- */

.catalogo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.cards {
  width: 70%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cards li {
  width: 10rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 1rem;
  transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
}

.cards li:hover {
  width: 15rem;
  height: 20rem;
}

.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards li a {
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  border: 0.3rem solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.cards li a:hover{
  border-color: var(--primary-verde-medio);
}

.cards li a:focus {
  border-color: var(--secondary-azul);
  outline: none;
}

/* ------------------ CADASTRO ------------------  */

.cadastro-conteudo{
  background: var(--gradiente-1);
  border-radius: 2rem;
  padding: 1.5rem 3rem;
}

.cadastro form{
  gap: 1rem;
}

.cadastro h2{
  color: var(--secondary-bege);
  font-weight: 800;
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

.cadastro .botao{
  background-color: var(--primary-verde-pastel);
  color: var(--primary-verde-escuro);
  padding: 1rem 3rem;
  font-weight: 800;
  transition: transform 0.5s ease-in-out;
}

.campo {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

label{
  font-weight: 600;
  color: var(--base-0);
}

input {
  background-color: var(--base-0);
  border: 0;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
}